<h1>Listing Restaurants</h1>

<table>
  <tr>
    <th>Restaurant Name</th>
    <th>Description</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
      <td><%= link_to "Show", restaurant_path(restaurant) %></td>
      <td><%= link_to "Edit", edit_restaurant_path(restaurant), id: "edit-#{restaurant.name}" %></td>
      <td><%= link_to "Delete", restaurant_path(restaurant),
              method: :delete,
              data: { confirm: "Are you sure?" },
              id: "delete-#{restaurant.name}" %></td>
    </tr>
  <% end %>
</table>
