<p>
  <strong>Name</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description</strong>
  <%= @restaurant.description %>
</p>
<p>
  <strong>Average score:</strong>
  <%= @restaurant.reviews.average(:score).to_i %>
</p>
<h2>Reviews</h2>
<% @restaurant.reviews.each do |review| %>
  <% if review.valid? %>
    <p>
      <strong>Reviewer:</strong>
      <%= review.user.email %>
    </p>
    <p>
      <strong>Score:</strong>
      <%= review.score %>
    </p>
    <p>
      <strong>Review:</strong>
      <%= review.body %>
    </p>
    <p>
      <%= link_to 'Delete Review', [review.restaurant, review], method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
<% end %>
<h2>Add a review:</h2>

<%= render "reviews/form" %>

<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Delete", restaurant_path(@restaurant),
        method: :delete,
        data: { confirm: "Are you sure?" } %>

<%= link_to 'Back', restaurants_path %>
