<% if @restaurant.reviews.last != nil %>
<% if @restaurant.reviews.last.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@restaurant.reviews.last.errors.count, "error") %>
      prohibited this review from being saved:
    </h2>
    <ul>
      <% @restaurant.reviews.last.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<%= form_with(model: [@restaurant, @restaurant.reviews.build ], local: true) do |form| %>
<p>
  <%= form.label :reviewer %>
  <%= form.text_field :reviewer %>
</p>
<p>
  <%= form.label :score %>
  <%= form.text_field :score %>
</p>
<p>
  <%= form.label :body %>
  <%= form.text_field :body %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>
